{% extends 'base.html.twig' %}

{% block body %}

    <h1>Type in your cocktail <img src="{{ asset('styles/osrs-cocktail.png') }}"
                                   width="35"
                                   height="35">
    </h1>

    {{ form_start(cocktailForm) }}
        {{ form_widget(cocktailForm) }}
        <button type="submit">Submit</button>
    {{ form_end(cocktailForm) }}

    <h1>{{ cocktailName }}</h1>


{% endblock %}
