{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{path('initForm')}}">Home</a>
    <h1>
        Result
        <img src="{{ asset('styles/osrs-cocktail.png') }}"
             width="35"
             height="35">
    </h1>

    {% if result is iterable %}
        {% for cocktail in result %}
            <li>Name: {{ cocktail['strDrink']}} - ID: {{ cocktail['idDrink'] }}</li>
        {% endfor %}
    {% else %}
        <h1>{{ result }}</h1>
    {% endif %}

{% endblock %}