{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('initForm') }}">Home</a>
    <h1>
        Result
        <img src="{{ asset('styles/osrs-cocktail.png') }}"
             width="35"
             height="35">
    </h1>

    {% for cocktail in cocktails %}
        <li>ID: {{ cocktail.id }} - Name: {{ cocktail.name }}</li>
    {% endfor %}

    <p>{{ error }}</p>

{% endblock %}